
.homepage {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: honeydew;
}

.bg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: honeydew;
}
.test {
    padding: 20px 20px 20px 40px;

}

.text-center {
    color: #00c247;
}

.content {
    background-color: rgba(255, 255, 255, 0.8);
    width: 1000px;
    font-size: 20px;
    text-align: center;
}

#btn-toolbar {
    align-content: center;
}

#fix-price td {
    width: 30%;
    color: #25d028;
}

#orders td {
    width: 30%;
    color: #254fd0;
}